  <h2> Edit Listing: </h2>

  <%= form_for @listing, remote: true, :html => { :id => 'new-listing-form' } do |form| %>
    <%= render partial: '/listings/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>