var el = $('#new-user-form');

<% if @user.errors.any? %>

  // Create a list of errors
  var errors = $('<p>Please amend the following errors:</p>');

  <% @user.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>

window.location.replace('/');

<% end %>
